[submodule "third_party/seal_python"]
	path = seal_python
	url = git@github.com:Lucieno/SEAL-Python.git
    branch = master
[submodule "SEAL-Python"]
	path = seal_python
	url = git@github.com:Lucieno/SEAL-Python.git
